body {
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: #444;
	font-weight: bolder;
}
table {
	margin-top: 20px; 
	border-collapse: collapse;
}
th {
	padding: 10px;
	color: #444;
	border: 2px solid #aaa;
}
td {
	padding: 10px;
	border: 2px solid #aaa;	
	color: #666;
}